/* تنسيق الجسم */
body {
  font-family: 'Cairo', sans-serif; /* استخدام خط لطيف */
  background-color: #f4f4f9; /* لون الخلفية */
  color: #481E14; /* لون النص الأساسي */
  margin: 0; /* إزالة الهوامش الافتراضية */
  display: flex; /* استخدم flexbox لترتيب المحتوى */
  flex-direction: column; /* ترتيب المحتوى عموديًا */
  min-height: 100vh; /* تأكد من أن الجسم يملأ كامل الشاشة */
}

/* تنسيق شريط التنقل */
.navbar {
  padding: 15px 30px; /* حشوة حول الشريط */
  background-color: #9B3922; /* خلفية الشريط */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* تأثير ظل خفيف */
}

.navbar-brand {
  font-weight: bold;
  font-size: 28px; /* حجم كبير للوجو */
  color: #F2613F; /* لون اللوجو */
  transition: color 0.3s; /* تأثير عند التمرير */
}

.navbar-nav {
  margin-left: auto; /* تحريك العناصر لليمين */
}

.navbar-nav .nav-link {
  color: #ffffff; /* لون الروابط */
  padding: 10px 20px; /* حشوة للروابط */
  margin: 0 15px; /* مسافة بين الروابط */
  border-radius: 5px; /* زوايا دائرية للروابط */
  transition: background-color 0.3s, color 0.3s; /* تأثير عند التمرير */
}

.navbar-nav .nav-link:hover {
  background-color: #F2613F; /* خلفية عند التمرير */
  color: #fff; /* تغيير لون النص عند التمرير */
}

/* تنسيق الفوتر */
.footer {
  background-color: #481E14; /* خلفية الفوتر */
  color: #fff; /* لون النص */
  text-align: center; /* محاذاة النص في المنتصف */
  padding: 20px 0; /* حشوة الفوتر */
  width: 100%; /* عرض كامل للفوتر */
  position: relative; /* جعل الفوتر في موقع نسبي */
  margin-top: auto; /* هذه الخاصية تجعل الفوتر في الأسفل دائمًا */
  bottom: 0; /* يضمن أن الفوتر يكون في الأسفل */
}
